node_modules/
.venv/
venv/
.env
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.ipynb
data/processed/*.csv
data/processed/*.xlsx
data/external/*.csv
data/external/*.xlsx
*.zip
.ipynb_checkpoints/
__pycache__/
*.pyc
*venv/
output/*.csv
.vscode/
.idea/
local_docs/